
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.logo{
    margin-right: 50px;
}

.list{
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
    .navbar label{
        display: none;
    }

    @media screen and (max-width: 600px) {
        .menu{
            width: 100%;
            max-height: 0;
            overflow: hidden;
        }
        .list{
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
        .navbar label {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
        }
        #toggler:checked ~ .menu{
            max-height: 100%;
        }
    }


.container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(img/bgc.jpg);
    background-size: cover;

}



.container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 65px;
    font-weight: 600;
    letter-spacing: 2px;   
    backdrop-filter: blur (15px);
}



.quotes {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    color: #fff;
    font-size: 35px ;
    font-weight: bold;
    backdrop-filter: blur (15px);
}

.quotes h2 {
    font-size:20px;
    margin-top: 10px;
    font-weight: 500;
}